@import "reset";
@import "mixin";

/* 滚动条 */
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
  border-radius: 7px;
  display: block !important;
}

/* Handle样式 */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: #ddd;
}

/*hover到滚动条上*/
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: lighten(#ddd, 5%);
}

/*滚动条按下*/
::-webkit-scrollbar-thumb:vertical:active {
  background-color: darken(#ddd, 5%);
}
