@font-face {
    font-family: 'Impact';
    src: url('Impact.ttf') format('truetype');
}

@font-face {
    font-family: 'PangMenZhengDao';
    src: url('PangMenZhengDao.ttf') format('truetype');
}

@font-face {
    font-family: 'DIN Alternate Bold';
    src: url('DIN Alternate Bold.ttf');
}

